---
nav_title: Alarms
title: Alarms
nav_order: 3
---

<h3>2019 Alarms</h3>
<ul>
    {% for alarm in site.data.alarms %}
        <li>{{alarm.date}} &mdash; {{alarm.details}}</li>
    {% endfor %}
</ul>
<a href="#">top</a>

<h3>2019 Alarm Summary&ndash;<i>{{ site.data.alarms | size }} total alarms</i></h3>
<ul>
    {% assign categories = site.data.alarms | group_by: 'category' | sort: 'name' %}

    {% for cat in categories %}
    <li>{{ cat.items | size }} {{cat.name}}</li>
    {% endfor %}
</ul>
<a href="#">top</a>

<h3>2018 Alarm Summary&ndash;<i>90 total alarms</i></h3>
<ul>
    <li>6 CO detector</li>
    <li>7 EMS assist</li>
    <li>3 brush fire</li>
    <li>24 fire alarm activation</li>
    <li>1 good intent</li>
    <li>13 motor vehicle accident</li>
    <li>9 mutual aid given</li>
    <li>13 power lines</li>
    <li>1 rescue call</li>
    <li>1 service call</li>
    <li>10 structure fire</li>
    <li>2 vehicle fire</li>
</ul>
<a href="#">top</a>

<h3>2017 Alarm Summary&ndash;<i>104 total alarms</i></h3>
<ul>
    <li>2 911 discrepancy</li>
    <li>9 CO detector</li>
    <li>6 EMS assist</li>
    <li>4 boat rescue</li>
    <li>2 brush fire</li>
    <li>2 controlled burn</li>
    <li>22 fire alarm activation</li>
    <li>19 motor vehicle accident</li>
    <li>9 mutual aid given</li>
    <li>18 power lines</li>
    <li>1 service call</li>
    <li>1 smoke condition</li>
    <li>1 stand-by</li>
    <li>5 structure fire</li>
    <li>3 vehicle fire</li>
</ul>
<a href="#">top</a>

<h3>2016 Alarm Summary&ndash;<i>107 total alarms</i></h3>
<ul>
    <li>3 boat rescue</li>
    <li>5 brush fire</li>
    <li>6 CO alarm</li>
    <li>4 controlled burn</li>
    <li>4 EMS assist</li>
    <li>1  environmental spill</li>
    <li>22 fire alarm activation</li>
    <li>4 good intent</li>
    <li>21 motor vehicle accident</li>
    <li>4 mutual aid given</li>
    <li>14 power lines</li>
    <li>1 rescue</li>
    <li>5 service call</li>
    <li>1 smoke condition</li>
    <li>1 stand-by</li>
    <li>4 structure fire</li>
    <li>6 vehicle fire</li>
    <li>1 911 discrepancy</li>
</ul>
<a href="#">top</a>
<h3>2015 Alarm Summary&ndash;<i>88 total alarms</i></h3>
<ul>
    <li>2  boat rescue</li>
    <li>4  brush fire</li>
    <li>9  CO alarm</li>
    <li>8  EMS/police assist</li>
    <li>1  false alarm by county</li>
    <li>17 fire alarm activation</li>
    <li>2  gas spill / leak</li>
    <li>10 motor vehicle accident</li>
    <li>12 mutual aid given</li>
    <li>10 power lines</li>
    <li>1  refuse fire</li>
    <li>2  search</li>
    <li>3  service call</li>
    <li>1  stand-by</li>
    <li>6  structure</li>
</ul>
<a href="#">top</a>
<h3>2014 Alarm Summary–<i>115 total alarms</i></h3>
<ul>
    <li>2 911 discrepancy</li>
    <li>2 boat fire</li>
    <li>4 boat rescue</li>
    <li>4 brush fire</li>
    <li>6 CO alarm</li>
    <li>2 controlled burn</li>
    <li>11 EMS assist</li>
    <li>14 fire alarm activation</li>
    <li>1 fire police</li>
    <li>1 gas leak</li>
    <li>2 gas spill / leak</li>
    <li>6 good intent</li>
    <li>14 motor vehicle accident</li>
    <li>11 mutual aid given</li>
    <li>19 power lines</li>
    <li>1 search</li>
    <li>1 service call</li>
    <li>1 smell of gas</li>
    <li>1 smoke condition</li>
    <li>3 stand-by</li>
    <li>5 structure</li>
    <li>1 tractor overturned</li>
    <li>2 tree in road</li>
    <li>1 vehicle fire</li>
</ul>
<a href="#">top</a>

<h3>2013 Alarm Summary–<i>92 total alarms</i></h3>
<ul>
    <li>19 fire alarm activation</li>
    <li>12 power lines</li>
    <li>11 motor vehicle accident</li>
    <li>6 Mutual Aid given</li>
    <li>6 structure</li>
    <li>6 EMS/ lift assist</li>
    <li>5 brush fire</li>
    <li>5 CO alarm</li>
    <li>4 water rescue</li>
    <li>4 service call</li>
    <li>4 vehicle fire</li>
    <li>3 911 discrepancy</li>
    <li>2 ground rescue</li>
    <li>1 good intent</li>
    <li>1 Mutual Aid given</li>
    <li>1 tree down</li>
    <li>1 standby</li>
    <li>1 gas leak</li>
</ul>
<a href="#">top</a>
