---
nav_title: Firefighters
title: Firefighters
nav_order: 7
first_carousel_img: /firefighter-slideshow/010101.jpg
carousel_images:
    - /firefighter-slideshow/080316.jpg
    - /firefighter-slideshow/080329.jpg
    - /firefighter-slideshow/080330.jpg
    - /firefighter-slideshow/080405.jpg
    - /firefighter-slideshow/080413.jpg
    - /firefighter-slideshow/081212.jpg
    - /firefighter-slideshow/090201.jpg
    - /firefighter-slideshow/090202.jpg
    - /firefighter-slideshow/090730.jpg
    - /firefighter-slideshow/090820.jpg
    - /firefighter-slideshow/090821.jpg
    - /firefighter-slideshow/090823.jpg
    - /firefighter-slideshow/091114.jpg
    - /firefighter-slideshow/091221.jpg
    - /firefighter-slideshow/092022.jpg
    - /firefighter-slideshow/100109.jpg
    - /firefighter-slideshow/100110.jpg
    - /firefighter-slideshow/100111.jpg
    - /firefighter-slideshow/100112.jpg
    - /firefighter-slideshow/100113.jpg
    - /firefighter-slideshow/100131.jpg
    - /firefighter-slideshow/100132.jpg
    - /firefighter-slideshow/100133.jpg
    - /firefighter-slideshow/100134.jpg
    - /firefighter-slideshow/100135.jpg
    - /firefighter-slideshow/100136.jpg
    - /firefighter-slideshow/100137.jpg
    - /firefighter-slideshow/100138.jpg
    - /firefighter-slideshow/100304.jpg
    - /firefighter-slideshow/100417.jpg
    - /firefighter-slideshow/100612.jpg
    - /firefighter-slideshow/110603.jpg
    - /firefighter-slideshow/110713.jpg
    - /firefighter-slideshow/110714.jpg
    - /firefighter-slideshow/110715.jpg
    - /firefighter-slideshow/110716.jpg
    - /firefighter-slideshow/110717.jpg
    - /firefighter-slideshow/110718.jpg
    - /firefighter-slideshow/110812.jpg
    - /firefighter-slideshow/111218.jpg
    - /firefighter-slideshow/120501.jpg
    - /firefighter-slideshow/120601.jpg
    - /firefighter-slideshow/120701.jpg
    - /firefighter-slideshow/120801.jpg
    - /firefighter-slideshow/121026.jpg
    - /firefighter-slideshow/121201.jpg
    - /firefighter-slideshow/121202.jpg
    - /firefighter-slideshow/130822.jpg
    - /firefighter-slideshow/130823.jpg
    - /firefighter-slideshow/130910.jpg
    - /firefighter-slideshow/131018.jpg
    - /firefighter-slideshow/131019.jpg
    - /firefighter-slideshow/140501.jpg
    - /firefighter-slideshow/140502.jpg
    - /firefighter-slideshow/140503.jpg
    - /firefighter-slideshow/140504.jpg
    - /firefighter-slideshow/140505.jpg
    - /firefighter-slideshow/140506.jpg
    - /firefighter-slideshow/140901.jpg
    - /firefighter-slideshow/140902.jpg
    - /firefighter-slideshow/140903.jpg
    - /firefighter-slideshow/140904.jpg
    - /firefighter-slideshow/140905.jpg
    - /firefighter-slideshow/140906.jpg
    - /firefighter-slideshow/140907.jpg
    - /firefighter-slideshow/140908.jpg
    - /firefighter-slideshow/140909.jpg
    - /firefighter-slideshow/140910.jpg
    - /firefighter-slideshow/140911.jpg
    - /firefighter-slideshow/140912.jpg
    - /firefighter-slideshow/140913.jpg
    - /firefighter-slideshow/140914.jpg
    - /firefighter-slideshow/140915.jpg
    - /firefighter-slideshow/140916.jpg
    - /firefighter-slideshow/140917.jpg
    - /firefighter-slideshow/140918.jpg
firefighters:
    - name: Royce Ball
      year: (1974)
    - name: Meghan Benn
      year: (2013)
    - name: Carolyn A. Bialahoski
      year: (1989) (7 yr. break)
    - name: James (Jay) Bodnar
      year: (1992) (2 breaks)
    - name: Steve Bodnar Jr.
      year: (1963)
    - name: Mike Booth
      year: (2014)
    - name: Stephen Booth
      year: (2008) (military leave)
    - name: James Burke
      year: (1976)
    - name: Anthony Carpenter
      year: (2013)
    - name: Joseph Cichacki 
      year: (1968)
    - name: Michael Cole 
      year: (2015)
    - name: Mark Connolly 
      year: (2001)
    - name: Marc DeCastro 
      year: (2006)
    - name: Dave Deheer 
      year: (1959)
    - name: Joseph Derby 
      year: (1969) (7 yr. break)
    - name: Leon Derby 
      year: (1972)
    - name: Chris DiSiena 
      year: (2009)
    - name: Mike DiSiena 
      year: (2010)
    - name: Jacob Dooley 
      year: (2012)
    - name: Jeffery Dooley 
      year: (1988)
    - name: Sean Dooley 
      year: (1988)
    - name: Mike Eustis 
      year: (2006)
    - name: Chad Fountaine
      year: (2017)
    - name: Justin Hanehan 
      year: (2009)
    - name: Martin Hanehan 
      year: (1996)
    - name: Nik Hanehan 
      year: (2009) (military leave)
    - name: JR Hanna
      year: (2017)
    - name: Peter Hoogeveen 
      year: (2006)
    - name: James Jennings 
      year: (1969) (3 yr break)
    - name: James Jennings, Jr. 
      year: (2010)
    - name: Roderick Kast 
      year: (2017)
    - name: Sean Kelleher 
      year: (2004)
    - name: Randall Kelley
      year: (2016)
    - name: Christopher Lago
      year: (2016)
    - name: Dalton Lago
      year: (2013)
    - name: Alfred (Tom) Lloyd, Jr.
      year: (2006)
    - name: Kenneth (Mack) Marshall
      year: (2012)
    - name: Paul Medick 
      year: (2013)
    - name: Paul Medick, Sr. 
      year: (2016)
    - name: Donald Ormsby Jr 
      year: (1982)
    - name: Donald Parker 
      year: (1978)
    - name: Robert Peck 
      year: (1960)
    - name: David Poltynski 
      year: (2006)
    - name: Dominick Refino 
      year: (2016)
    - name: Ray Rodriguez, Jr. 
      year: (2009) (educational break)
    - name: Nelson Snowden 
      year: (1995)
    - name: Herbert O. Staiger, Jr. 
      year: (2002)
    - name: Nikolous Steg 
      year: (1999)
    - name: Craig Sutherland 
      year: (2002)
    - name: Dennis Wood 
      year: (1973)

---
<div id="ff-carousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="item active"><img style="height: 300px; text-align: center;" src="{{site.images_path}}{{ page.first_carousel_img }}"></div>
        {% for img in page.carousel_images %}
        <div class="item"><img style="height: 300px; text-align: center;" src="{{site.images_path}}{{ img }}"></div>
        {% endfor %}
    </div>
    <a class="left carousel-control" href="#ff-carousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <a class="right carousel-control" href="#ff-carousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div>
<h3>Active Members</h3>
<div class="row">
    <div class="col-md-12" style="column-count: 2;">
        <ul>
            {% for firefighter in page.firefighters %}
            <li>{{firefighter.name}} <small>{{firefighter.year}}</small></li>
            {% endfor %}
        </ul>
    </div>
</div>

<h3 style="text-align: center;">Junior Members</h3>
<ul style="list-style-type: none; text-align: center; padding-left: 0">
    <li>Christopher Rothaupt <small>(2017)</small></li>
</ul>

<h3 style="text-align: center;">Retired Members</h3>
<ul style="list-style-type: none; text-align: center; padding-left: 0">
    <li>Phillip Griffin</li>
    <li>John Peck</li>
</ul>

<h3 style="text-align: center;">Associate Members</h3>
<ul style="list-style-type: none; text-align: center; padding-left: 0">
    <li>Jean Connolly <small>(2012)</small></li>
    <li>Wayne Conover Jr. <small>(1992)</small></li>
    <li>Dorothy Lavazzo <small>(2013)</small></li>
</ul>

<h3>Looking for the right stuff</h3>
<h4>The Quaker Springs Fire Department is looking for volunteer fire fighters.</h4>

<p>Firefighters are expected to devote a small amount of time to the department each week.  There is a weekly drill on Thursdays from 7 p.m. to 9 p.m. and we respond to approximately 100 calls per year - about 2 calls per week.</p>

<p>There are state and county training requirements that volunteers must meet.</p>
<ul>
    <li>Interior firefighters must complete 100 hours of training.</li>
    <li>Driver/pump operators must complete 24 hours of training.</li>
    <li>Fire police must complete 8 hours of training.</li>
</ul>

<p>Volunteers must be between 16 and 18 years old to be junior firefighters and 18 or older for any other position.</p>

<p>For more information, call (518) 584-3349.</p>

</div>
</div>
