<div class="row">
	<div class="col-md-12">
		<hr>
			<center>
				<a href="https://www.facebook.com/qsvfd">Link to Facebook Page</a><br>
				<div class="fb-like" style="margin-bottom: 10px;" data-href="https://www.facebook.com/qsvfd" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
				<p>Help Us Help You  -  Volunteer Today!<br>The Quaker Springs Fire Department can use your help. For more information call 518-584-3349.</p>
				<p class="small">&copy; {{ site.time | date: '%Y' }} Quaker Springs Fire Department. All Rights Reserved.</p>
			</center>
	</div>
</div>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="assets/js/bootstrap.min.js"></script>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=289535377748490&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
