<div class="col-md-2 center-sm-only">
    <hr class="visible-xs visible-sm">
    <address><strong>Station 1:</strong><br>107 Blodgett Rd.<br>Schuylerville, NY 12871<br>(p) 518-584-3349<br>(f) 518-584-3348</address>
    <address><strong>Station 2:</strong><br>1432 NYS Rt 9P<br>Saratoga Springs, NY 12866<br>(p) 518-226-0379</address>
    <address><strong>Mailing Address:</strong><br>PO Box 67<br>Schuylerville, NY 12871</address>
    <address><strong>Emergency:</strong><br>(p) 911</address>
    <hr>
    <ul class="list-group">
        <li class="list-group-item small">{{site.data.alarms | size}} total
            alarms as of {{site.data.alarms[-1].date}}, 2019</li>
        <li class="list-group-item small">90 total alarms in 2018</li>
        <li class="list-group-item small">104 total alarms in 2017</li>
    </ul>
</div>
